<html><head>
  <link rel="icon" href="./favicon.ico">
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1,minimal-ui=true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="full-screen" content="yes">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="360-fullscreen" content="true">
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Cocos环境 -->
  <link rel="stylesheet" type="text/css" href="./index.css">
  
  <link rel="stylesheet" href="vue/index-4149e58f.css">

  <!-- 环境配置 -->
  <script type="text/javascript" charset="utf-8">
    window.cocosPreview = true;
    // 静态地址
    if (!window.resStaticHome) {
      window.resStaticHome = "/";
    }
    // 配置文件地址
    if (!window.cocosSettingURL) {
      window.cocosSettingURL = window.resStaticHome + 'src/settings.json';
    }
  </script>
</head>

<body>
  <!-- Cocos环境 -->
  <div class="toolbar disabled">
    <div class="item">
        <div id="view-select" class="view-select-container" value="Default" tabindex="-1">
            <div class="view-select">
                <div class="label">
                    <span id="name"></span>
                </div>
                <i class="arrow-trangle"></i>
            </div>
            <div class="options"></div>
        </div>
    </div>
    <div class="item"><button id="btn-rotate" class="">Rotate</button></div>
    <span style="font-size: small;" class="item">Debug Mode:</span>
    <div class="item">
        <select id="opts-debug-mode" value="INFO">
            <option value="NONE">None</option>
            <option value="VERBOSE">Verbose</option>
            <option value="INFO">Info</option>
            <option value="WARN">Warn</option>
            <option value="ERROR">Error</option>
            <option value="INFO_FOR_WEB_PAGE">Info For Web Page</option>
            <option value="WARN_FOR_WEB_PAGE">Warn For Web Page</option>
            <option value="ERROR_FOR_WEB_PAGE">Error For Web Page</option>
        </select>
    </div>
    <div class="item"><button id="btn-show-fps" class="checked">Show FPS</button></div>
    <div class="item">
        <span style="font-size: small;" class="item">FPS:</span><input id="input-set-fps" type="number" value="60">
    </div>
    <div style="margin-right: 0;" class="item"><button id="btn-pause">Pause</button><button id="btn-step">Step</button>
    </div>
    <div class="item"><button id="btn-step" style="display: none;">Step</button></div>
    <div id="step-length">
        <span>Step Length: </span>
        <input type="text" value="1">
        <span>ms</span>
    </div>
</div>

    <!-- 游戏内容区域 -->
    <div id="content" class="content">
      <div class="contentWrap">
        <div class="wrapper">

          <!-- 内容区域开始 -->
          <!-- vue -->
<div id="app"></div>
<!-- loading -->
<div id="def-loading" class="def-loading">
    <div class="def-loading-content">
        <div class="def-loading-rect"></div>
        <div class="def-loading-rect"></div>
        <div class="def-loading-rect"></div>
        <div class="def-loading-rect"></div>
        <div class="def-loading-rect"></div>
    </div>
</div>
<!-- rem -->
<script>
    (function (window, document) {
        var docEl = document.documentElement;
        var dpr = window.devicePixelRatio || 1;

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px';
            }
            else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize);
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit(element) {
            // var rem = Math.min(element.clientWidth, 750) / 10;
            var rem = element.clientWidth / 10;
            docEl.style.fontSize = rem + 'px';
        }

        setRemUnit(docEl);

        if (window.cocosPreview) {
            // reset rem unit on page resize
            window.addEventListener('resize', function () {
                var appEl = document.getElementById('app');
                var gameEl = appEl?.querySelector('#GameDiv');
                setRemUnit(gameEl || docEl);
            })
            window.addEventListener('pageshow', function (e) {
                // if (e.persisted) {
                var appEl = document.getElementById('app');
                var gameEl = appEl?.querySelector('#GameDiv');
                setRemUnit(gameEl || docEl);
                // }
            })
        } else {
            // reset rem unit on page resize
            window.addEventListener('resize', function () {
                setRemUnit(docEl);
            })
            window.addEventListener('pageshow', function (e) {
                // if (e.persisted) {
                setRemUnit(docEl);
                // }
            })
        }

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body');
            var testElement = document.createElement('div');
            testElement.style.border = '.5px solid transparent';
            fakeBody.appendChild(testElement);
            docEl.appendChild(fakeBody);
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines');
            }
            docEl.removeChild(fakeBody);
        }
    })(window, document)
</script>
            <!-- 内容区域结束 -->

            <div id="splash" hidden="">
              <div class="progress-bar stripes"><span></span></div>
            </div>
            <div id="bulletin">
              <div id="sceneIsEmpty" class="inner">
              </div>
            </div>
            <div class="error" id="error">
              <div class="title">Error <i>(Please open the console to see detailed errors)</i></div>
              <div class="error-main"></div>
              <div class="error-stack"></div>
            </div>
        </div>
      </div>
      <p class="footer" hidden="">
        Created with <a href="https://www.cocos.com/products" target="_blank" title="Cocos Creator">Cocos Creator</a>
      </p>
    </div>

    <!-- Cocos环境 -->
    <!-- v-console Support.(Optional) -->


<!-- Polyfills bundle. -->
<script src="/scripting/polyfills/bundle.js"></script>

<!-- Import map that map the engine feature unit modules. -->
<script src="/scripting/engine/bin/.cache/dev/preview/import-map.json" type="systemjs-importmap"></script>

<!-- Import map that map the entry of project module(s). -->
<script src="/scripting/x/import-map.json" type="systemjs-importmap"></script>

<!-- Import map that map 'cc', 'cc/env'. -->
<script src="/scripting/import-map-global" type="systemjs-importmap"></script>

<!-- SystemJS support. -->
<script src="/scripting/systemjs/system.js"></script>

<!-- Setup the detailed resolution. -->
<script>
    System.setResolutionDetailMapCallback(function () {
        var url = new URL('/scripting/x/resolution-detail-map.json', window.location);
        return fetch(url).then(function (response) {
            return response.json();
        }).then(function (json) {
            return { json, url: url.href };
        });
    });
</script>

<script src="/scripting/engine/bin/.cache/dev/preview/bundled/index.js"></script>

<!-- Manifest file. -->
<script name="setting" src="/settings.js?scene=5298bb0b-166e-4978-af98-0047d43757de"></script>

      <!-- vue代码 -->
      


<script type="module" crossorigin="" src="vue/index-3f311de6.js" async></script></body></html>